# Created by .ignore support plugin (hsz.mobi)
.idea/vcs.xml
__pycache__/
data/__pycache__/
forms/__pycache__/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/_distutils_hack/__pycache__/
venv/Lib/site-packages/alembic/__pycache__/
venv/Lib/site-packages/alembic/autogenerate/__pycache__/
venv/Lib/site-packages/alembic/ddl/__pycache__/
venv/Lib/site-packages/alembic/operations/__pycache__/
venv/Lib/site-packages/alembic/runtime/__pycache__/
venv/Lib/site-packages/alembic/script/__pycache__/
venv/Lib/site-packages/alembic/templates/async/__pycache__/
venv/Lib/site-packages/alembic/templates/generic/__pycache__/
venv/Lib/site-packages/alembic/templates/multidb/__pycache__/
venv/Lib/site-packages/alembic/templates/pylons/__pycache__/
venv/Lib/site-packages/alembic/testing/__pycache__/
venv/Lib/site-packages/alembic/testing/plugin/__pycache__/
venv/Lib/site-packages/alembic/testing/suite/__pycache__/
venv/Lib/site-packages/alembic/util/__pycache__/
venv/Lib/site-packages/aniso8601/__pycache__/
venv/Lib/site-packages/aniso8601/builders/__pycache__/
venv/Lib/site-packages/aniso8601/builders/tests/__pycache__/
venv/Lib/site-packages/aniso8601/tests/__pycache__/
venv/Lib/site-packages/blinker/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/chardet/metadata/__pycache__/
venv/Lib/site-packages/charset_normalizer/__pycache__/
venv/Lib/site-packages/charset_normalizer/assets/__pycache__/
venv/Lib/site-packages/charset_normalizer/cli/__pycache__/
venv/Lib/site-packages/click/__pycache__/
venv/Lib/site-packages/colorama/__pycache__/
venv/Lib/site-packages/dateutil/__pycache__/
venv/Lib/site-packages/dateutil/parser/__pycache__/
venv/Lib/site-packages/dateutil/tz/__pycache__/
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/
venv/Lib/site-packages/defusedxml/__pycache__/
venv/Lib/site-packages/dns/__pycache__/
venv/Lib/site-packages/dns/rdtypes/ANY/__pycache__/
venv/Lib/site-packages/dns/rdtypes/CH/__pycache__/
venv/Lib/site-packages/dns/rdtypes/IN/__pycache__/
venv/Lib/site-packages/dns/rdtypes/__pycache__/
venv/Lib/site-packages/dotenv/__pycache__/
venv/Lib/site-packages/elasticsearch/__pycache__/
venv/Lib/site-packages/elasticsearch/_async/__pycache__/
venv/Lib/site-packages/elasticsearch/_async/client/__pycache__/
venv/Lib/site-packages/elasticsearch/client/__pycache__/
venv/Lib/site-packages/elasticsearch/connection/__pycache__/
venv/Lib/site-packages/elasticsearch/helpers/__pycache__/
venv/Lib/site-packages/email_validator/__pycache__/
venv/Lib/site-packages/flask/__pycache__/
venv/Lib/site-packages/flask/json/__pycache__/
venv/Lib/site-packages/flask_login/__pycache__/
venv/Lib/site-packages/flask_migrate/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/aioflask-multidb/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/aioflask/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/flask-multidb/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/flask/__pycache__/
venv/Lib/site-packages/flask_restful/__pycache__/
venv/Lib/site-packages/flask_restful/representations/__pycache__/
venv/Lib/site-packages/flask_restful/utils/__pycache__/
venv/Lib/site-packages/flask_sqlalchemy/__pycache__/
venv/Lib/site-packages/flask_wtf/__pycache__/
venv/Lib/site-packages/flask_wtf/recaptcha/__pycache__/
venv/Lib/site-packages/greenlet/__pycache__/
venv/Lib/site-packages/greenlet/tests/__pycache__/
venv/Lib/site-packages/httpie/__pycache__/
venv/Lib/site-packages/httpie/cli/__pycache__/
venv/Lib/site-packages/httpie/output/__pycache__/
venv/Lib/site-packages/httpie/output/formatters/__pycache__/
venv/Lib/site-packages/httpie/output/lexers/__pycache__/
venv/Lib/site-packages/httpie/plugins/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/importlib_metadata/__pycache__/
venv/Lib/site-packages/importlib_resources/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data01/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data01/subdirectory/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data02/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data02/one/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data02/two/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/zipdata01/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/zipdata02/__pycache__/
venv/Lib/site-packages/itsdangerous/__pycache__/
venv/Lib/site-packages/jinja2/__pycache__/
venv/Lib/site-packages/jwt/__pycache__/
venv/Lib/site-packages/mako/__pycache__/
venv/Lib/site-packages/mako/ext/__pycache__/
venv/Lib/site-packages/markupsafe/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/index/__pycache__/
venv/Lib/site-packages/pip/_internal/locations/__pycache__/
venv/Lib/site-packages/pip/_internal/metadata/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/metadata/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/
Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/in_process/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/platformdirs/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/compat/__pycache__/
venv/Lib/site-packages/pip/_vendor/tenacity/__pycache__/
venv/Lib/site-packages/pip/_vendor/tomli/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/__pycache__/
venv/Lib/site-packages/pygments/__pycache__/
venv/Lib/site-packages/pygments/filters/__pycache__/
venv/Lib/site-packages/pygments/formatters/__pycache__/
venv/Lib/site-packages/pygments/lexers/__pycache__/
venv/Lib/site-packages/pygments/styles/__pycache__/
venv/Lib/site-packages/pytz/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/requests_toolbelt/__pycache__/
venv/Lib/site-packages/requests_toolbelt/adapters/__pycache__/
venv/Lib/site-packages/requests_toolbelt/auth/__pycache__/
venv/Lib/site-packages/requests_toolbelt/cookies/__pycache__/
venv/Lib/site-packages/requests_toolbelt/downloadutils/__pycache__/
venv/Lib/site-packages/requests_toolbelt/multipart/__pycache__/
venv/Lib/site-packages/requests_toolbelt/threaded/__pycache__/
venv/Lib/site-packages/requests_toolbelt/utils/__pycache__/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_distutils/__pycache__/
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
venv/Lib/site-packages/setuptools/tests/integration/__pycache__/
venv/Lib/site-packages/sqlalchemy/__pycache__/
venv/Lib/site-packages/sqlalchemy/connectors/__pycache__/
venv/Lib/site-packages/sqlalchemy/databases/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/firebird/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/mssql/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/mysql/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/oracle/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/postgresql/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/sqlite/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/sybase/__pycache__/
venv/Lib/site-packages/sqlalchemy/engine/__pycache__/
venv/Lib/site-packages/sqlalchemy/event/__pycache__/
venv/Lib/site-packages/sqlalchemy/ext/__pycache__/
venv/Lib/site-packages/sqlalchemy/ext/asyncio/__pycache__/
venv/Lib/site-packages/sqlalchemy/ext/declarative/__pycache__/
venv/Lib/site-packages/sqlalchemy/ext/mypy/__pycache__/
venv/Lib/site-packages/sqlalchemy/future/__pycache__/
venv/Lib/site-packages/sqlalchemy/future/orm/__pycache__/
venv/Lib/site-packages/sqlalchemy/orm/__pycache__/
venv/Lib/site-packages/sqlalchemy/pool/__pycache__/
venv/Lib/site-packages/sqlalchemy/sql/__pycache__/
venv/Lib/site-packages/sqlalchemy/testing/__pycache__/
venv/Lib/site-packages/sqlalchemy/testing/plugin/__pycache__/
venv/Lib/site-packages/sqlalchemy/testing/suite/__pycache__/
venv/Lib/site-packages/sqlalchemy/util/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/werkzeug/__pycache__/
venv/Lib/site-packages/werkzeug/debug/__pycache__/
venv/Lib/site-packages/werkzeug/middleware/__pycache__/
venv/Lib/site-packages/werkzeug/sansio/__pycache__/
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/
venv/Lib/site-packages/wtforms/__pycache__/
venv/Lib/site-packages/wtforms/csrf/__pycache__/
venv/Lib/site-packages/wtforms/fields/__pycache__/
venv/Lib/site-packages/wtforms/widgets/__pycache__/
